.your-representatives {
    background: #6cb8bb;
    width: 100%;
  }

.sign-up-switch:hover:hover {
    text-decoration: underline;
    cursor: pointer;
}

.representatives-display-group{
    margin: auto;
}